<mat-sidenav-container [hasBackdrop]="true" class="example-container">

    <mat-sidenav #sidenav
                 mode="side">
        <app-sidemenu [sidenav]="sidenav"></app-sidemenu>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar [sidenav]="sidenav"></app-toolbar>

        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <app-sub-footer></app-sub-footer>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>


