<div class="content-container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar
                 class="mat-card-header-image"
                 [style.background]="'url(/assets/logos/ionic.jpg)'"></div>
            <mat-card-title>DreamRecorder</mat-card-title>
            <mat-card-subtitle>November 2018</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/projects/dreamrecorder.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <mat-chip-list>
                <mat-chip color="accent" selected>Ionic 3</mat-chip>
                <mat-chip color="primary" selected>Angular 6</mat-chip>
                <mat-chip>TypeScript</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>OPEN</button>
            <button mat-button>DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>
<!--
<div class="default-padding-top">
    <div *ngFor="let x of [1,1,1]">
        <div class="project-wrapper">
            <div class="project-preview">
                DreamRecorder
                <img src="/assets/img/projects/dreamrecorder.png">
            </div>
            <div class="project-info">
                <h2>Description</h2>
                <p>asdkopasd</p>
                <h2>Main technologies:</h2>
                <p>Ionic 3, Angular 6, TypeScript</p>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>-->
