mat-card {
  max-width: 400px;
}

.mat-card-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover !important;
}

.project-wrapper {
  display: flex;
  justify-content: center;
}

.project-preview {
  min-width: 25rem;
  justify-content: center;
  justify-content: center;
  img {
    width: 20rem;
  }
}

.project-info {
  min-width: 25rem;
}