.project-list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;


  mat-card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    max-width: 400px;
    min-width: 25rem;
  }
}

.mat-card-header-image {
  background-size: cover !important;
}

.project-wrapper {
  display: flex;
  justify-content: center;
}

.project-preview {
  min-width: 25rem;
  justify-content: center;
  img {
    width: 20rem;
  }
}

.project-info {
  min-width: 25rem;
}